/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&family=Raleway:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');  
:root{
     --primary-solid: #193793;
     --primary-900: rgba(41, 91, 242, 0.777);
     --primary-300: rgb(255, 51, 51, 0.3);
     --dark-solid: #57f29a;
     --dark-bG-solid: #193793;
     --light-font-solid: #f0c168;
     --dark-font-solid:  #57f29a;

     /* tipografia */
     --base-font: 'Roboto', sans-serif;
     --alternative-font: 'Raleway', sans-serif;

     /* fontsize*/
     --font-display: 4.6em;
     --font-jumbo: 3.8em;
     --font-xlarge: 3.0em;
     --font-large: 2.4em;
     --font-medium: 1.8em;
     --font-small: 1.6em;
     --font-xsmall: 1em;
     /*spacing       */
      --spacing-16:1.6rem;
      --spacing-12:1.2rem;
      --spacing-8:0.8rem;

  }
  
html {
  font-family: var(--base-font);
}
 
ul {
  list-style: none;
}
a {
  text-decoration: none;
}



h1{
    color: #295BF2;
    text-align: center;
}

section{
    line-height: 22px;
    padding: 15px;  
}


/*header */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&family=Raleway:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');  
:root{
  --primary-solid: #193793;
  --primary-900: rgba(41, 91, 242, 0.777);
  --primary-300: rgb(255, 51, 51, 0.3);
  --dark-solid: #57f29a;
  --dark-bG-solid: #193793;
  --light-font-solid: #f0c168;
  --dark-font-solid:  #57f29a;

  /* tipografia */
  --base-font: 'Roboto', sans-serif;
  --alternative-font: 'Raleway', sans-serif;

  /* fontsize*/
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3.0em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1em;
  /*spacing       */
   --spacing-16:1.6rem;
   --spacing-12:1.2rem;
   --spacing-8:0.8rem;

}
/* HEADER*/
.header-menu {
  background-color: var(--dark-bG-solid);
  padding: var(--spacing-8) 0 0 var(--spacing-16);
  padding-bottom: 0;
  margin: 0;
  position:fixed;
  z-index: 999;
  width: 100%;
}
/* h1{
  padding-left: 15px;
  color: var(--dark-font-solid);
  font-family: var(--base-font);
} */
/* img  {
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: 0.5s;
  object-fit: cover;
} */
.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  min-height: 60px;
  height: auto;
}
.h1-header{
  padding-left: 15px;
  color: var(--dark-font-solid);
  font-family: var(--base-font);
}
.header-container{
  padding-left: 5px;
}
.logoDeportesHoy{
  width: 40px;
height: 40px;  
padding: 0px;
filter: brightness(120%);
}
pre{
  font-family: var(--base-font);
  font-size:1.8em;
  letter-spacing: 1 px;
  color: var(--dark-font-solid);
}
.navbar__menu {
  gap: var(--spacing-8);
  font: var(--font-xsmall);
  align-items: right; 
}

.navbar__link {
  font-size: var(--font-medium);
  padding: 0 var(--spacing-8);
  display: inline-block;
  transition: backgroundcolor .3s ease-in-out;
  position: relative
}
.navbar__link:hover {
  background-color: var(--primary-900);
}
.with_submenu:hover .submenu {
  display: block;
}
.navheader{
  
    position: relative;
    z-index: 999;
    
}
/* menu hamburguesa */
#menu-hamburguesa {
  display: none;
  background-color: var(--primary-solid);
  width: 90%;
  text-align: left;
  padding-left: 0px;
  padding-right: 60px;
  z-index: 999;
  position: relative
}
#menu-hamburguesa ul li {
  padding: 5px 0;
}
nav {
  position: relative;
  z-index: 999;
}
#menu-hamburguesa ul li a {
  color: var(--light-font-solid);
  color: var(--dark-font-solid);
  font-size: 1em;
  font-family: var(--base-font);

}
#boton-hamburguesa {
  background-color: var(--dark-bG-solid);
  color: var(--dark-font-solid);
  font-size: var(--font-large);
  font-size: 1.2em;
  font-family: var(--base-font);
  padding: 0px 5px 10px 1%;
  align-self: left;
  border: none;
  cursor: pointer;
}


/*map*/
#map{
    align-items: center;
    justify-content: center;
    outline: 4px solid;
    margin: auto;
    border-radius: 10px;
    width: 800px;
    height: 400px;
}

#map iframe{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*text column*/
.container-1{
    display: flex;
    margin: auto;
    border-radius: 15px;
    width: 80%;   
}

.container-2{
    display: flex;
    margin: auto;
    border-radius: 15px;
    width: 80%;  
}

.columna-1, .columna-2{
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 10px;
    margin: 0 10px;
    text-align: justify;
}

.columna-1, .columna-2 p{
    display: flex;
}


h2{
    color: #295BF2;
    text-align: center;
    line-height: 30px;
}

.body-principal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
    
}

/*image*/
.image{
    position: relative;
    width: 200px;
    height: 330px;
    margin: 20px;
}
.image .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
}
.image .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 10px 15px #0D0D0D;
    border-radius: 15px;
}
.image .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 15px;
    border-width: 10px;
    border-color: #57F29A;
    object-fit: cover;
}

.image .back{
    transform: perspective(600px) rotateY(180deg);
    background: #295BF2;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 10px 15px #2955D9;
}

.image:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.image:hover .back{
    transform: perspective(600px) rotateY(360deg);
}







@media(max-width: 768px){
    .text-box h2{
        font-size: 20px;
    }
    .container-1, .container-2{
        width: 80%;
    }
    #map{
        width: 80%;
    }
   
    
@media (min-width: 768px) {
    #boton-hamburguesa {
      display: none;
    }
    #menu-hamburguesa {
      display: block;
      background-color: transparent;
      max-height: initial;
      overflow: initial;
    }
    #menu-hamburguesa ul {
      display: flex;
      justify-content: flex-start;
    }
    #menu-hamburguesa ul li {
      padding: 0px 5px 5px 7px;
    }
  }



}


/* Color Theme Swatches in Hex */
.Smart-Home-App-1-hex { color: #295BF2; }
.Smart-Home-App-2-hex { color: #2955D9; }
.Smart-Home-App-3-hex { color: #57F29A; }
.Smart-Home-App-4-hex { color: #F2BA52; }
.Smart-Home-App-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Smart-Home-App-1-rgba { color: rgba(41, 91, 242, 1); }
.Smart-Home-App-2-rgba { color: rgba(41, 85, 216, 1); }
.Smart-Home-App-3-rgba { color: rgba(87, 242, 154, 1); }
.Smart-Home-App-4-rgba { color: rgba(242, 186, 82, 1); }
.Smart-Home-App-5-rgba { color: rgba(12, 12, 12, 1); }


