*{
  font-family: 'Roboto', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
 
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&family=Raleway:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');  
:root{
  --primary-solid: #193793;
  --primary-900: rgba(41, 91, 242, 0.777);
  --primary-300: rgb(255, 51, 51, 0.3);
  --dark-solid: #d2edde ;
  --dark-bG-solid: #193793;
  --light-font-solid: #f0c168;
  --dark-font-solid:  #57f29a;

  /* tipografia */
  --base-font: 'Inter', sans-serif;
  --alternative-font: 'Raleway', sans-serif;

  /* fontsize*//* fontsize*/
     --font-display: 4.6em;
     --font-jumbo: 3.8em;
     --font-xlarge: 3.0em;
     --font-large: 2.4em;
     --font-medium: 1.8em;
     --font-small: 1.6em;
     --font-xsmall: 1em;
  /*spacing       */
   --spacing-16:1.6rem;
   --spacing-12:1.2rem;
   --spacing-8:0.8rem;

}
/* HEADER*/
header {
  background-color: var(--dark-bG-solid);
  padding: var(--spacing-8) 0 0 var(--spacing-16);
  padding-bottom: 0;
  margin: 0;
  position:fixed;
  z-index: 999;
  width: 100%;
}
/* h1{
  padding-left: 15px;
  color: var(--dark-font-solid);
  font-family: var(--base-font);
} */
/* img  {
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: 0.5s;
  object-fit: cover;
} */
.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  min-height: 60px;
  height: auto;
}
.h1-header{
  padding-left: 15px;
  color: var(--dark-font-solid);
  font-family: var(--base-font);
}
.header-container{
  padding-left: 5px;
}
.logoDeportesHoy{
  width: 40px;
height: 40px;  
padding: 0px;
filter: brightness(120%);
}
pre{
  font-size: 62.5%;
  font-family: var(--base-font);
  font-size:var(--font-medium);
  
}
.navbar__menu {
  gap: var(--spacing-8);
  font: var(--font-small);
  align-items: right; 
}

.navbar__link {
  font-size: var(--font-medium);
  padding: 0 var(--spacing-8);
  display: inline-block;
  transition: backgroundcolor .3s ease-in-out;
  position: relative
}
.navbar__link:hover {
  background-color: var(--primary-900);
}
.with_submenu:hover .submenu {
  display: block;
}
.navheader{
  
    position: relative;
    z-index: 999;
    
}
/* menu hamburguesa */
#menu-hamburguesa {
  display: none;
  background-color: var(--primary-solid);
  width: 90%;
  text-align: left;
  padding-left: 0px;
  padding-right: 60px;
  z-index: 999;
  position: relative
}
#menu-hamburguesa ul li {
  padding: 5px 0;
}
nav {
  position: relative;
  z-index: 999;
}
#menu-hamburguesa ul li a {
  color: var(--light-font-solid);
  color: var(--dark-font-solid);
  font-size: 1em;
  font-family: var(--base-font);

}
#boton-hamburguesa {
  background-color: var(--dark-bG-solid);
  color: var(--dark-font-solid);
  font-size: var(--font-large);
  font-size: 1.6em;
  font-family: var(--base-font);
  padding: 0px 5px 10px 1%;
  align-self: left;
  border: none;
  cursor: pointer;
}

/* // */
body {
    background-color:var(--dark-solid);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    margin: 0; 
    padding: 0;
}
.iframes-container {
  display:flex; /* Establece el contenedor como un flex container */
  gap: 1.5em; /* Agrega un espaciado entre los iframes */
  justify-content: space-between;
}

.iframes-container figure {
  width: 25em; /* Aproximadamente un tercio del ancho con un espacio entre ellos */
  box-sizing: border-box;
  text-align: center;
  background-color:var(--dark-bG-solid);
  padding: 20px;
  border-radius: 20px;
  color: white;
  

}

.tenistas {
  width: 40em;
  height: 20em;
}

figcaption {
  font-size: 16px;
  margin-top: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    margin: 0; /* Asegura que no haya margen */
    padding: 0; /* Asegura que no haya relleno */
  /*agregue 26-10*/
    padding-top: 130px;
  padding-left: 10px;
  
}
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0; 
  }
  .flex-items:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0; 
  }
  .flex-items:nth-child(5) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0; 
  }
  .flex-items:nth-child(6) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0; 
    padding: 20px;
    width: 65em;
  }
  .flex-items:nth-child(7) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0; 
    padding: 20px;
    width: 65em;
  }
  .flex-items:nth-child(8) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0; 
    padding: 20px;
    width: 65em;
  }
  .flex-items a{
    text-decoration: none;
    color: var(--primary-900);
  }
  .flex-items a:hover{
    text-decoration: underline;
    color: #0056b3;
  }
  .tenistas-ranking{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 30px;
  }
  /*----CARRUSEL----*/
.ContainerCenter{
  height: 80vh;
  background-color: #2a9d8f;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	font-family: Arial;
  color:White;
  font-size:min(30px, max(3.75vw, 25px));
  text-align: center;
  display: flex;
  justify-content:center;
  align-items: center;
}

label{cursor: pointer;}

/* Contenedor para centrar */
.ContainerCenter{
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Input */
input{display: none}

/*----Contenedor ----*/
.contenedor {
  display: flex; /* Flexbox para controlar la disposición de los elementos */
  justify-content: space-between; /* Coloca los elementos en los extremos opuestos */
  align-items: flex-start; /* Alinea los elementos en la parte superior del contenedor */
padding: 15px 0px 30px;
}
.texto {
  width: 50%;
   /* Ancho del div de texto (ajusta según tus necesidades) */
}
img {
  width: 50%; /* Ancho de la imagen (ajusta según tus necesidades) */
}
/*----FOOTER----*/
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
  position: relative;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 25px;
  height: 25px;
}

p {
  margin: 10px 0;
}
/*----ANIMACIONES----*/
@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.Carrusels {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.destacada {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

 /*-----RESPONSIVE------*/
@media screen and (max-width: 795px) {
  /*----BODY GENERAL----*/
  .flex-items{
    width: 100%;    
  }
  .flex-items:nth-child(2){
    display: block;
    width: 100%;
    max-width: max-content;
  }
  /*----SECCION NOTICIAS----*/
   #titulares{
    font-size: 2vh;
   } 
   
  iframe{
    height: 12em;
    width: 20em;
   }

    figure ,figcaption{
    width: 100%;
    font-size:3vw;
    
   }
  .iframes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: column;
    max-width: 88%;
  }
  /*-----SECCION TENISTAS-----*/
  .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 2vh;
  }
  .texto {
      text-align: center;
      height: 13em;
  }
  .tenistas{
    width: 30em;
    padding-top: 5em;
  }
}


@media (min-width: 768px) {
  #boton-hamburguesa {
    display: none;
  }
  #menu-hamburguesa {
    display: block;
    background-color: transparent;
    max-height: initial;
    overflow: initial;
  }
  #menu-hamburguesa ul {
    display: flex;
    justify-content: flex-start;
  }
  #menu-hamburguesa ul li {
    padding: 0px 5px 5px 7px;
  }
}
